<div class="row">
  <!-- Filter column -->
  <div class="col-md-2 filter">
    <app-filters></app-filters>
  </div>

  <!-- Product list column -->
  <div class="col-md-8 products" id="products">
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <app-product-item [productItem]="product"></app-product-item>
      </div>
    </div>
  </div>

  

  <!-- Cart column -->
  <div class="col-md-2 cart">
    <app-cart></app-cart>
    <!-- <button (click)="backToTop()">
      <img src="https://www.seekpng.com/png/full/216-2162589_back-to-top-img-back-to-top.png">
    </button> -->
  </div>
</div>


