<div class="row">
  <!-- Filter column -->
  <div class="col-md-2 filter">
    <div class="card filters">
      <div class="card-header"><strong>Filters</strong></div>
    
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)=" onSubmit()">
          <div class="row">
            <div class="col-25">
              <label>From</label>
            </div>
            <div class="col-75">
              <input type="number" formControlName="from">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-25">
              <label>To</label>
            </div>
            <div class="col-75">
              <input type="number" formControlName="to">
            </div>
          </div>
          <br>
          <input type="submit" class="btn btn-primary btn-block btn-sm" value="Filter By Price">
          <button class="btn btn-primary btn-block btn-sm" (click)="clearFilter()">Clear Filter</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Product list column -->
  <div class="col-md-8 products" id="products">
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <app-product-item [productItem]="product"></app-product-item>
      </div>
    </div>
  </div>

  

  <!-- Cart column -->
  <div class="col-md-2 cart">
    <app-cart></app-cart>
    <!-- <button (click)="backToTop()">
      <img src="https://www.seekpng.com/png/full/216-2162589_back-to-top-img-back-to-top.png">
    </button> -->
  </div>
</div>


