<div id="registration">
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-25">
                    <label>Username:</label>
                </div>
                <div class="col-75">
                    <input formControlName="username" type="text" placeholder="Enter your username">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                  <label>Password</label>
                </div>
                <div class="col-75">
                  <input formControlName="password" type="text"  placeholder="Enter your password">
                </div>
              </div>
            <div class="row">
                <div class="col-25">
                    <label>Name:</label>
                </div>
                <div class="col-75">
                    <input formControlName="name" type="text" placeholder="Enter your name">
                </div>
            </div>
            <h2>Address</h2>
            <div class="row">
                <div class="col-25">
                    <label>Door number:</label>
                </div>
                <div class="col-75">
                    <input formControlName="doornumber" type="number" placeholder="Enter your door number">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Street Name:</label>
                </div>
                <div class="col-75">
                    <input formControlName="street" type="text" placeholder="Enter your street name">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>City:</label>
                </div>
                <div class="col-75">
                    <input formControlName="city" type="text" placeholder="Enter your city">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Country:</label>
                </div>
                <div class="col-75">
                    <input formControlName="country" type="text" placeholder="Enter your country">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Postal Code:</label>
                </div>
                <div class="col-75">
                    <input formControlName="postalcode" type="text" placeholder="Enter your postal code">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Phone Number:</label>
                </div>
                <div class="col-75">
                    <input formControlName="telephone" type="text" placeholder="Enter your phone number">
                </div>
            </div>
            <br>
            <div class="row">
                <input class="col-md-2 btn btn-default" type="submit" value="Register">
              </div>
              <div class="alert">{{message}}</div>
        </form>
    </div>
</div>