<div class="nav">
    <h1>JeanStation</h1>
    <ul class = "topnav">
        
        <li *ngIf="!isLoggedIn">
            <a href="../login" routerLink="login">Login</a>
        </li>
        <li *ngIf="isLoggedIn">
          <a href="../login" routerLink="login">Logout</a>
      </li>
      <li *ngIf="isLoggedIn&&!isAdmin">
        <a href="../userprofile" routerLink="profile">Profile</a>
    </li>
    <li *ngIf="isLoggedIn&&!isAdmin">
        <a href="../myorder" routerLink="myorder">My Order</a>
    </li>
        <li *ngIf="!isAdmin">
            <a href="../cart" routerLink="cart">Cart</a>
        </li>
        <li>
            <a href="../product" routerLink="product">Products</a>
        </li>
        <li>
            <a href="../home" routerLink="">Home</a>
        </li>
    </ul>

 
    <div class="add" *ngIf="isAdmin">

      <button (click)="showAdd()" type="submit" *ngIf="!inOrderManag">Add Product</button>


      <button (click)="toOrderManagement()" type="submit" *ngIf="!inOrderManag">Order Management</button>


        <button (click)="toProductManagement()" type="submit" *ngIf="inOrderManag">Product Management</button>

  </div>


</div>
<router-outlet></router-outlet>


