<div class="nav">
  <h1>JeanStation</h1>
  <ul class="topnav">

    <li *ngIf="!isLoggedIn">
      <a href="../login" routerLink="login">Login</a>
    </li>
    <li *ngIf="isLoggedIn">
      <a href="../login" routerLink="login">Logout</a>
    </li>
    <li *ngIf="isLoggedIn&&!isAdmin">
      <a href="../userprofile" routerLink="profile">Profile</a>
    </li>
    <li *ngIf="isLoggedIn&&!isAdmin">
      <a href="../myorder" routerLink="myorder">My Order</a>
    </li>
    <li *ngIf="!isAdmin">
      <a href="../cart" routerLink="checkout">Checkout</a>
    </li>
    <li *ngIf="!isAdmin">
      <a href="../cart" routerLink="cart">Cart</a>
    </li>
    <li *ngIf="!isAdmin">
      <a href="../product" routerLink="product">Products</a>
    </li>
    <li *ngIf="isAdmin&&inOrderManag">
      <a href="../admin" routerLink="admin">Product Management</a>
    </li>
    <li *ngIf="isAdmin&&!inOrderManag">
      <a href="../order-management" routerLink="order-management">Order Management</a>
    </li>
    <li>
      <a href="../home" routerLink="">Home</a>
    </li>
  </ul>

  <div *ngIf="isAdmin" class="add">
    <button (click)="showAdd()" *ngIf="!inOrderManag" type="submit">Add Product</button>

    <!-- <button (click)="toOrderManagement()" type="submit" *ngIf="!inOrderManag">Order Management</button>

    <button (click)="toProductManagement()" type="submit" *ngIf="inOrderManag">Product Management</button> -->
  </div>

</div>
<router-outlet></router-outlet>


