<div id="auth">
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" >
            <div class="row">
                <div class="col-25">
                    <label>Current Password</label>
                </div>
                <div class="col-75">
                    <input formControlName="oldPassword" type="password">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>New Password</label>
                </div>
                <div class="col-75">
                    <input formControlName="newPassword" type="password">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Confirm Password</label>
                </div>
                <div class="col-75">
                    <input formControlName="confirmPassword" type="password">
                </div>
            </div>
            <br>
            <div class="row">
                <input class="col-md-2 btn btn-default" type="submit" value="Update Password">
            </div>
        </form>
        <div class="alert">{{message}}</div>
    </div>
</div>
