<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <!-- Left column: "Items in your cart" section -->
      <div class="col-md-9">
        <div class="ibox">
          <!-- Title row -->
          <div class="ibox-title">
            <!-- Total items in cart -->
            <span class="pull-right">(<strong>{{ cartItems.length }}</strong>) items</span>
            <h5>Items in your cart</h5>
          </div>

          <!-- Each individual item in cart-->
          <li class="list-group-item" *ngFor="let item of cartItems">
            <div class="ibox-content">
              <div class="table-responsive">
                <table class="table shopping-cart-table">
                  <tbody>
                  <tr>
                    <td width="90">
                      <div class="cart-product-imitation">
                        <img class="bd-placeholder-img card-img-top p-2" src="{{ item.picture }}" width="100%"/>
                      </div>
                    </td>
                    <td class="desc">
                      <h3>
                        <!-- Item name -->
                        <a href="#" class="text-navy">{{ item.name }}</a>
                      </h3>
                      <!-- Item description -->
                      <p class="small">{{ item.description }}</p>

                      <!-- TODO: Remove item from cart -->
                      <div class="btn-group m-t-sm">
                        <button (click)="removeItemFromCart(item)" class="btn btn-sm btn-primary product-btn"><i class="fa fa-trash"></i> Remove item</button>
                      </div>
                    </td>

                    <!-- Item price -->
                    <!-- If discounted -->
                    <span *ngIf="item.discount > 0">
                      <td>{{ item.finalPrice.amount/100 | currency:'CAD' }}
                        <!-- If there is a discount, show original price -->
                        <s class="small text-muted">{{ item.price.amount/100 | currency:'CAD' }}</s>
                      </td>
                    </span>

                    <!-- If no discount -->
                    <span *ngIf="item.discount === 0">
                      <td>{{ item.finalPrice.amount/100 | currency:'CAD' }}</td>
                    </span>

                    <td width="65">
                      <input type="text" class="form-control" value="{{ item.quantity }}">
                    </td>

                    <!-- Item subtotal (bold text) -->
                    <td>
                      <h4>{{ item.finalPrice.amount/100 * item.quantity | currency:'CAD' }}</h4>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </li>

          <!-- Bottom row: Continue shopping & Checkout section -->
          <div class="ibox-content">
            <!-- TODO: Show payment view -->
            <button class="btn btn-primary pull-right" (click)="checkout()"><i class="fa fa fa-shopping-cart"></i> Checkout</button>

            <!-- Redirect back to product list view -->
            <a class="btn btn-white" href="../product" routerLink="../product"><i class="fa fa-arrow-left"></i> Continue shopping</a>
          </div>
        </div>
      </div>

      <!-- Right column: Cart Summary & Support section -->
      <div class="col-md-3">
        <div class="ibox">
          <div class="ibox-title">
            <h5>Cart Summary</h5>
          </div>
          <div class="ibox-content">
            <li class="list-group-item active">
              <strong>Total (before tax):</strong> {{ priceTotalBeforeTax | currency:'CAD' }}
              <br />
              <strong>Total (after tax):</strong> {{ priceTotalAfterTax | currency:'CAD' }}
            </li>
            <hr>
            <span class="text-muted small">*Sales tax will be applied if applicable</span>
            <div class="m-t-sm">
              <div class="btn-group">
                <button class="btn btn-primary btn-sm" (click)="checkout()"><i class="fa fa-shopping-cart"></i> Checkout</button>
              </div>
            </div>
          </div>
        </div>

        <div class="ibox">
          <div class="ibox-title">
            <h5>Support</h5>
          </div>
          <div class="ibox-content text-center">
            <h3><i class="fa fa-phone"></i>+43 100 783 001</h3>
            <span class="small">Please contact with us if you have any questions. We are available 24h.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
