<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <!-- Left column: "Items in your cart" section -->
      <div class="col-md-9">
        <div class="ibox">
          <!-- Title row -->
          <div class="ibox-title">
            <!-- TODO: Total items in cart -->
            <span class="pull-right">(<strong>5</strong>) items</span>
            <h5>Items in your cart</h5>
          </div>

          <!-- TODO: Each individual item in cart-->
          <div class="ibox-content">
            <div class="table-responsive">
              <table class="table shoping-cart-table">
                <tbody>
                <tr>
                  <td width="90">
                    <div class="cart-product-imitation"></div>
                  </td>
                  <td class="desc">
                    <h3>
                      <!-- TODO: Item name -->
                      <a href="#" class="text-navy">Desktop publishing software</a>
                    </h3>
                    <!-- TODO: Item description -->
                    <p class="small">
                      It is a long-established fact that a reader will be distracted by the readable
                      content of a page when looking at its layout. The point of using Lorem Ipsum is
                    </p>

                    <!-- TODO: Remove item from cart -->
                    <div class="m-t-sm">
                      <a href="#" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
                    </div>
                  </td>

                  <!-- TODO: Item price -->
                  <td>$180,00
                    <!-- TODO: If there is a discount, show original price -->
                    <s class="small text-muted">$230,00</s>
                  </td>
                  <td width="65">
                    <input type="text" class="form-control" placeholder="1">
                  </td>

                  <!-- TODO: Item subtotal (bold text) -->
                  <td>
                    <h4>$280,00</h4>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Bottom row: Continue shopping & Checkout section -->
          <div class="ibox-content">
            <!-- TODO: Show payment view -->
            <button class="btn btn-primary pull-right"><i class="fa fa fa-shopping-cart"></i>Checkout</button>

            <!-- TODO: Redirect back to product list view -->
            <button class="btn btn-white"><i class="fa fa-arrow-left"></i>Continue shopping</button>
          </div>
        </div>
      </div>

      <!-- Right column: Cart Summary & Support section -->
      <div class="col-md-3">
        <div class="ibox">
          <div class="ibox-title">
            <h5>Cart Summary</h5>
          </div>
          <div class="ibox-content">
            <span>Total</span>
            <h2 class="font-bold">$390,00</h2>

            <hr>
            <span class="text-muted small">*Sales tax will be applied if applicable</span>

            <div class="m-t-sm">
              <div class="btn-group">
                <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i>Checkout</a>
                <a href="#" class="btn btn-white btn-sm"> Cancel</a>
              </div>
            </div>
          </div>
        </div>

        <div class="ibox">
          <div class="ibox-title">
            <h5>Support</h5>
          </div>
          <div class="ibox-content text-center">
            <h3><i class="fa fa-phone"></i>+43 100 783 001</h3>
            <span class="small">Please contact with us if you have any questions. We are available 24h.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
