.container {
    position: fixed;
    background-color: #3a4468;
    text-align: center;
    width:100%;
    left: 0;
    top: 90%;
    background-color: #3a4468;
  }
  
  .container p {
    border-top: 1px solid #ffffff;
    color: #ffffff;
    padding: 20px 0;
    margin: 0;
  }
  
  .container p a {
    color: inherit;
  }