#footer {
    position:static;
    background-color: #3a4468;
    text-align: center;
    left: 0;
    right:0;
    bottom: 0%;
    width:100%;
    margin:0;
    max-width: 2000px;
    padding: 10px 0;
  }
  
  .container p {
    color: #ffffff;
    margin: 0;
    width:100%;
  }
  
 