<div id = "Dashboard">
  <div class="container">

      <form [formGroup]="form" (ngSubmit)=" addProduct()" *ngIf="toAdd" enctype="multipart/form-data">

      <div class="row">
        <div class="col-25">
          <label>Name</label>
        </div>
        <div class="col-75">
          <input formControlName="name" type="text"  placeholder="Enter the name of the product">
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label>Description</label>
        </div>
        <div class="col-75">
          <input formControlName="description" type="text"  placeholder="Enter the description of the product">
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label>Picture</label>
        </div>
        <div class="col-75">
          <input type="file" formControlName="picture" (change)="fileChange($event)" placeholder="Upload file" accept=".jpg,.jpeg,.png">
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label>Price in CAD</label>
        </div>
        <div class="col-75">
          <input formControlName="price" type="number"  placeholder="Enter the price of the product">
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label>Discount</label>
        </div>
        <div class="col-75">
          <input formControlName="discount" type="number"  placeholder="Enter the discount of the product">
        </div>
      </div>

      <div class="row">
          <div class="col-25">
            <label>Quantity</label>
          </div>
          <div class="col-75">
            <input formControlName="quantity" type="number"  placeholder="Enter the quantity of the product">
          </div>
        </div>

        <div class="row">
          <div class="col-25">
              <label>Size</label>
          </div>
          <div class="col-75">
              <!-- <input type="radio" formControlName="size" value="XS">
              <label>XS</label>
              <input type="radio" formControlName="size" value="S">
              <label>S</label>
              <input type="radio" formControlName="size" value="M">
              <label>M</label>
              <input type="radio" formControlName="size" value="L">
              <label>L</label>
              <input type="radio" formControlName="size" value="XL">
              <label>XL</label> -->
              <input type="text" formControlName="size" placeholder="Enter the size of the product">
          </div>
      </div>

      <div class="row">
        <div class="col-25">
            <label>Color</label>
        </div>
        <div class="col-75">
            <!-- <input type="radio" formControlName="color" value="LIGHT_BLUE">
            <label>Light Blue</label>
            <input type="radio" formControlName="color" value="BLUE">
            <label>Blue</label>
            <input type="radio" formControlName="color" value="BLACK">
            <label>Black</label> -->
            <input type="text" formControlName="color" placeholder="Enter the color of the product">
        </div>
    </div>

    <div formArrayName="categories">
      <div class="arrayform">
      <!-- <div class="row"> -->
      
      <div class="form-group"
          *ngFor="let category of form.get('categories').controls; let i=index" >
          <div class = "row">
          <label class="col-25 control-label" [attr.for]="i">Category</label>

          <div class="col-50">
              <input class="form-control" 
                      [id]="i" 
                      type="text" 
                      placeholder="category" 
                      [formControlName]="i" />
          </div>
         <div class="col-25">
          <button class="col-md-6 btn btn-default"
                  type="button"
                  (click)="deleteCategory(i)">Delete
          </button>
        </div>
        </div>
        <!-- </div> -->
      </div>
      <div class="row">
          <button class="col-md-2 btn btn-default"
                  type="button"
                  (click)="addCategory()">Add Category
          </button>
      </div>
    </div>
  </div>

        <br>

      <div class="row">
        <input class="col-md-2 btn btn-default" type="submit" value="Add Product">
      </div>

    </form>

    <form [formGroup]="form" (ngSubmit)=" updateProduct()" *ngIf="toUpdate">

      <div class="row">
        <div class="col-25">
          <label>Name</label>
        </div>
        <div class="col-75">
          <input formControlName="name" type="text"  placeholder={{product.name}}>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label>Description</label>
        </div>
        <div class="col-75">
          <input formControlName="description" type="text"  placeholder={{product.description}}>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label>Picture</label>
        </div>
        <div class="col-75">
          <input formControlName="picture" type="text"  placeholder={{product.picture}}>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label>Price in CAD</label>
        </div>
        <div class="col-75">
          <input formControlName="price" type="number"  placeholder={{product.price}}>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label>Discount</label>
        </div>
        <div class="col-75">
          <input formControlName="discount" type="number"  placeholder={{product.discount}}>
        </div>
      </div>

      <div class="row">
          <div class="col-25">
            <label>Quantity</label>
          </div>
          <div class="col-75">
            <input formControlName="quantity" type="number"  placeholder={{product.quantity}}>
          </div>
        </div>

        <div class="row">
          <div class="col-25">
              <label>Size</label>
          </div>
          <div class="col-75">
              <input type="radio" formControlName="size" value="XS">
              <label>XS</label>
              <input type="radio" formControlName="size" value="S">
              <label>S</label>
              <input type="radio" formControlName="size" value="M">
              <label>M</label>
              <input type="radio" formControlName="size" value="L">
              <label>L</label>
              <input type="radio" formControlName="size" value="XL">
              <label>XL</label>
          </div>
      </div>

      <div class="row">
        <div class="col-25">
            <label>Color</label>
        </div>
        <div class="col-75">
            <input type="radio" formControlName="color" value="LIGHT_BLUE">
            <label>Light Blue</label>
            <input type="radio" formControlName="color" value="BLUE">
            <label>Blue</label>
            <input type="radio" formControlName="color" value="BLACK">
            <label>Black</label>
        </div>
    </div>

    <div formArrayName="categories">
      <div class="arrayform">
      <!-- <div class="row"> -->
      
      <div class="form-group"
          *ngFor="let category of form.get('categories').controls; let i=index" >
          <div class = "row">
          <label class="col-25 control-label" [attr.for]="i">Category</label>

          <div class="col-50">
              <input class="form-control" 
                      [id]="i" 
                      type="text" 
                      placeholder="category" 
                      [formControlName]="i" />
          </div>
         <div class="col-25">
          <button class="col-md-6 btn btn-default"
                  type="button"
                  (click)="deleteCategory(i)">Delete
          </button>
        </div>
        </div>
        <!-- </div> -->
      </div>
      <div class="row">
          <button class="col-md-2 btn btn-default"
                  type="button"
                  (click)="addCategory()">Add Category
          </button>
      </div>
    </div>
  </div>

        <br>

        <div class="row">
          <input class="col-md-2 btn btn-default" type="submit" value="Update Product">
        </div>

    </form>

    <br>
    <br>
    
    <div class="alert" >
        {{message}}
      </div>
  </div>

  

  <div class="row">
  
    <!-- Product list column -->
    <div class="col-md-8 products" id="products">
      <div class="row">
        <div class="col-md-4" *ngFor="let product of products">
          <app-product-item [productItem]="product"></app-product-item>
        </div>
      </div>
    </div>
    </div>
  



</div>
