.productName {
    font-size: larger;
}

.currency {
    font-size: small;
}

.quantity {
    font-size: small;
}

.discount {
    color: red;
    font-size: small;

}

.description {
    font-size: small;
}

.modal-body #discount {
    color:red;
}

.modal-footer button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
