<div id="orders" >
  <h2> Orders </h2>
      <div class="container" >
        <div class="row" *ngFor="let order of orders">
            <div class="column">
                <div class="card" (click)="viewDetails()">
                  <div class="card-body">
                    <h4 class="card-title">ID: {{order.id}}</h4>
                    <p class="card-text">Total Price (Before Tax): ${{order.priceTotalBeforeTax}}</p>
                    <p class="card-text">Total Price (After Tax): ${{order.priceTotalAfterTax}}</p>
                    <p class="card-text">User: {{order.userId}}</p>
                    <p class="card-text">Delivery Date: {{order.deliveryDate}}</p>
                    <p class="card-text">Creation Date: {{order.creationDate}}</p>
                    <p class="card-text">Order Status: {{order.status}}</p>
                    <p>Order Items: </p>
                    <ul *ngFor="let item of order.orderItems">
                      <li>{{item.name}}</li>
                    </ul>
                    <br><br>
                    <button class="btn" (click)="triggerModal(modalData,order)">Update Status</button>
                  </div>
                </div>
              </div>
        </div>
    </div>

<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Order: {{orderToUpdate.id}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <h5>New Status</h5>
    <form [formGroup]="form" (ngSubmit)="updateStatus()">
    <select class="custom-select" formControlName="status">
      <option value="SUBMITTED">Submitted</option>
      <option value="REJECTED">Rejected</option>
      <option value="IN_PROGRESS">In Progress</option>
      <option value="SHIPPED">Shipped</option>
      <option value="DELIVERED">Delivered</option>
    </select>
    <br>
    <br>
    <button type="submit" (click)="modal.dismiss('Submit')">Update</button>
    <div class="alert">{{message}}</div>
  </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

</div>
