.home {
  font-family: 'Roboto', sans-serif;
  padding-top: 9rem;
  padding-bottom: 9rem;
  margin: auto;
  width: 100%;
}

.page-intro{
  background-color: azure;
  padding: 50px;
  margin: 10px;
}
.whyus img {
  width: 100%;
  margin: 10px;
}
.hero-unit{
  background-image: url("../image/world.jpg");
  color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}
.gallery {
  display: inline-flex;
  padding: 30px;
  align-items: center;
  justify-content: space-between;
  width:100%;
}
.gallery img {
  width: 100%;
}
.text-box {
  border: 1px dashed black;
  padding: 10px;
  margin:50px;
  width: 100%;
  height:25%
}


