#myorder{
    padding-top: 1rem;
    padding-bottom: 9rem;
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
}

.container{
    width:100%;
}

* {
 box-sizing: border-box;
}

body {
 font-family: Arial, Helvetica, sans-serif;
}

.column {
 float: left;
 padding: 0 10px;
 margin: 20px;
}

.row {
    margin: 0 -5px;
    display: inline-flex;
}

.row:after {
 content: "";
 display: table;
 clear: both;
}

@media screen and (max-width: 600px) {
 .column {
   width: 100%;
   display: block;
   margin-bottom: 20px;
 }
 #orders{
     padding-top: 9rem;
     padding-bottom: 5rem;
 }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: left;
    background-color: white;
    width: 90%;
    margin: 1rem;
}

.card img {
    width: 80%;
}
  
button {
    background-color: #3a4468;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

button:hover {
    background-color:#45a049 ;
}

#discount {
    color: red;
}

#progressbar {
    margin-bottom: 3vh;
    overflow: hidden;
    color: #3a4468;
    padding-left: 0px;
    margin-top: 3vh
}

#progressbar li {
    list-style-type: none;
    font-size: 0.8rem;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
    color: #3a4468
}

#progressbar #step1:before {
    content: "";
    color: #3a4468;
    width: 20px;
    height: 20px;
    margin-left: 0px !important
}

#progressbar #step2:before {
    content: "";
    color: #fff;
    width: 20px;
    height: 20px;
    margin-left: 32%
}

#progressbar #step3:before {
    content: "";
    color: #fff;
    width: 20px;
    height: 20px;
    margin-right: 32%
}

#progressbar #step4:before {
    content: "";
    color: rgb(151, 149, 149, 0.651);
    width: 20px;
    height: 20px;
    margin-right: 0px !important
}

#progressbar li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: rgb(151, 149, 149);
    border-radius: 50%;
    margin: auto;
    z-index: -1;
    margin-bottom: 1vh
}

#progressbar li:after {
    content: '';
    height: 3px;
    background: rgb(151, 149, 149, 0.651);
    position: absolute;
    left: 0%;
    right: 0%;
    margin-bottom: 2vh;
    top: 8px;
    z-index: 1
}

.progress-track {
    padding: 0 8%
}

#progressbar li:nth-child(2):after {
    margin-right: auto
}

#progressbar li:nth-child(1):after {
    margin: auto
}

#progressbar li:nth-child(3):after {
    float: left;
    width: 68%
}

#progressbar li:nth-child(4):after {
    margin-left: auto;
    width: 132%
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #3a4468
}

#three {
    font-size: 1.2rem
}

@media (max-width: 767px) {
    #three {
        font-size: 1rem
    }
}

.modal-body h4 {
    color: red;
}